[submodule "plugins/virtualfish"]
	path = plugins/virtualfish
	url = git@github.com:adambrenecki/virtualfish.git
[submodule "plugins/nvm-wrapper"]
	path = plugins/nvm-wrapper
	url = git@github.com:passcod/nvm-fish-wrapper.git
[submodule "plugins/plugin-foreign-env"]
	path = plugins/plugin-foreign-env
	url = git@github.com:oh-my-fish/plugin-foreign-env.git
